/* import color variables */
@import url(./gruvbox-colors.css);

:root {
  /* theming */
  /* TODO: refactor variables */
  --clr-bg: var(--bg0);
  --clr-bg-alt: var(--bg1);
  --clr-surface: var(--bg2);
  --clr-border: var(--bg3);
  --clr-border-alt: var(--bg4);

  --clr-text: var(--fg0);
  --clr-text-alt: var(--fg2);
  --clr-muted: var(--fg4);

  --clr-primary: var(--bright-orange);
  --clr-primary-hover: var(--orange);

  --clr-secondary: var(--bright-purple);
  --clr-secondary-hover: var(--purple);

  --clr-success: var(--bright-green);
  --clr-success-hover: var(--green);

  --clr-warning: var(--bright-yellow);
  --clr-warning-hover: var(--yellow);

  --clr-danger: var(--bright-red);
  --clr-danger-hover: var(--red);

  --clr-accent: var(--bright-blue);
  --clr-accent-hover: var(--blue);

  --clr-info: var(--bright-aqua);
  --clr-info-hover: var(--aqua);

  /* typography */
  --ff-sans: system-ui, sans-serif;
  --ff-mono: "Fira Code", "JetBrains Mono", monospace;

  --fw-light: 300;
  --fw-normal: 400;
  --fw-bold: 700;

  --lh-base: 1.5;

  --fs-xs: 0.75rem; /* 12px */
  --fs-sm: 0.875rem; /* 14px */
  --fs-base: 1rem; /* 16px */
  --fs-md: 1.125rem; /* 18px */
  --fs-lg: 1.25rem; /* 20px */
  --fs-xl: 1.5rem; /* 24px */
  --fs-2xl: 2rem; /* 32px */
  --fs-3xl: 3rem; /* 48px */

  --border-radius: 0.5rem;
}

/* reset */
*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

ul,
ol {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

img {
  display: block;
  max-width: 100%;
}

button,
input,
select,
textarea {
  font: inherit;
  color: inherit;
  background: none;
  border: none;
  outline: none;
}

button {
  cursor: pointer;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* styling */

html,
body {
  font-family: var(--ff-mono);
  font-size: var(--fs-md);
  line-height: var(--lh-base);
  background-color: var(--clr-bg);
  color: var(--clr-text);

  @media (width < 600px) {
    font-size: var(--fs-sm);
  }
}

.wrapper {
  min-height: 100vh;
  padding-block: 4rem;
}

.app {
  max-width: 600px;
  margin-inline: auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  background-color: var(--clr-bg-alt);
  padding: 2rem;
  border: 3px solid var(--clr-border);
  border-radius: var(--border-radius);

  @media (width < 600px) {
    padding-inline: 1.33rem;
  }
}

.title {
  width: 100%;
  text-align: center;
  font-size: var(--fs-3xl);
  font-weight: var(--fw-bold);
}

.input-container {
  flex: 1;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 1rem;
  margin-bottom: 1rem;
}

.task-input {
  max-width: 70%;
  flex: 1;
  padding: 0.5rem;
  background-color: var(--clr-surface);
  border: 2px solid var(--clr-border);
  border-radius: var(--border-radius);

  &:focus {
    border-color: var(--clr-primary);
  }
}

.task-input::placeholder {
  color: var(--clr-muted);
  font-size: var(--fs-base);
}

.task-container {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  gap: 2rem;
}

.task-list {
  flex: 100%;
  border: 2px solid var(--clr-border);
  border-radius: var(--border-radius);
  overflow: hidden;
}

.task-item {
  background-color: var(--clr-surface);
  padding: 0.5rem 1rem;
  display: flex;
  gap: 1rem;
  justify-content: space-between;
  border-bottom: 1px solid var(--clr-border);
}

.task-item:nth-last-child(1) {
  border-bottom: none;
}

.task-item > * {
  align-self: center;
}

.task-text {
  font-size: var(--fs-md);

  &:hover {
    color: var(--clr-text-alt);
    cursor: pointer;
  }
}

.task-done {
  text-decoration: line-through;
  color: var(--clr-muted);

  &:hover {
    color: var(--clr-muted);
  }
}

.ui-btn-group {
  flex: 1;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 0.5rem;
}

.info-message {
  background-color: var(--clr-surface);
  padding: 1rem;
  text-align: center;
  color: var(--clr-muted);
}

footer {
  width: 100%;
  margin-top: 4rem;
}

.footer-text {
  text-align: center;
  color: var(--clr-muted);
  font-size: var(--fs-sm);
  font-weight: var(--fw-light);
}

.footer-link {
  color: var(--clr-primary);
  transition: color 0.1s;

  &:active,
  &:focus {
    color: var(--clr-primary-hover);
    outline: none;
    text-decoration: underline;
  }
}

/* buttons */
.btn {
  padding: 0.5rem 1rem;
  border-radius: var(--border-radius);
  transition:
    background-color 0.1s,
    color 0.1s;
  font-size: var(--fs-base);
  font-weight: var(--fw-bold);

  @media (width < 600px) {
    font-size: var(--fs-sm);
  }
}

.btn-primary {
  background-color: var(--clr-primary);
  color: var(--clr-bg);

  &:active,
  &:focus {
    background-color: var(--clr-primary-hover);
    color: var(--clr-text);
  }
}

#add-btn {
  padding-inline: 0.8rem;
  font-size: var(--fs-lg);
  line-height: 1;
}

.btn-remove {
  background-color: var(--clr-danger);
  color: var(--clr-text);
  padding: 0.25rem 0.5rem;

  &:active,
  &:focus {
    background-color: var(--clr-danger-hover);
  }
}

.btn-secondary {
  border: 2px solid var(--clr-border);
  padding: 0.25rem 0.5rem;

  &:active,
  &:focus {
    background-color: var(--clr-surface);
    color: var(--clr-text);
  }
}

.btn-clear-all {
  border: 2px solid var(--clr-danger);
  padding: 0.25rem 0.5rem;

  &:active,
  &:focus {
    background-color: var(--clr-danger);
    color: var(--clr-text);
  }
}

@media (hover: hover) and (pointer: fine) {
  .btn-primary:hover {
    background-color: var(--clr-primary-hover);
    color: var(--clr-text);
  }

  .btn-remove:hover {
    background-color: var(--clr-danger-hover);
  }

  .btn-secondary:hover {
    background-color: var(--clr-surface);
    color: var(--clr-text);
  }

  .btn-clear-all:hover {
    background-color: var(--clr-danger);
    color: var(--clr-text);
  }

  .footer-link:hover {
    color: var(--clr-primary-hover);
  }
}
